@import url("./header.css");
@import url("./body.css");
@import url("./popular.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  /* width: 100rem; */
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
